{% extends "core/base.html" %}

{% block core_content %}
<div class="grid-x grid-margin-x">
    <div class="cell medium-8 large-6">
        <div class="callout alert">
            <h4>Delete Waste Collector</h4>
            <p>Are you sure you want to delete the waste collector "{{ collector.name }}"?</p>
            <p>This action cannot be undone.</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="button alert">Delete</button>
                <a href="{% url 'waste_collector_list' %}" class="button secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %} 